<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="com.renke.rdbao.daos.rdbao_2017.dao.mapper.IAOrganizationMapper">

	<update id="updateParentId">
		update a_organization set parent_id = case id
		<foreach collection="organizations" item="organization">
			when
			#{organization.id} then #{organization.parentId}
		</foreach>
		end
		where id in
		<foreach collection="organizations" item="organization" open=" ( "
			separator=" , " close=" ) ">
			#{organization.id}
		</foreach>
	</update>

	<update id="updateAllName">
		update a_organization set all_name = case id
		<foreach collection="organizations" item="organization">
			when
			#{organization.id} then #{organization.allName}
		</foreach>
		end
		where id in
		<foreach collection="organizations" item="organization" open=" ( "
			separator=" , " close=" ) ">
			#{organization.id}
		</foreach>
	</update>

</mapper>